
	<img id="logo2" src="images/logo.png">
	<img id="logo" src="images/logo.png">
	<div id="imagegallery">
	 	<img class="rotatingimage" src="images/colordress.jpeg">
	 	<img class="rotatingimage" src="images/blackdress.jpeg">
	 	<img class="rotatingimage" src="images/dress.jpeg">
	 	<img class="rotatingimage" src="images/golddress.jpeg">
	 	<img class="rotatingimage" src="images/flowerdress.jpeg">
	</div>
	<div id="blackbox1">
	</div>
	<script type="text/javascript" src="public/script.js"></script>

