<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=3.0.1"></script>
	<title></title>
</head>
<body>
	<img id="logo" src="images/logo.png">
	<div id="imagegallery">
	 	<img class="rotatingimage" src="images/colordress.jpeg">
	 	<img class="rotatingimage" src="images/blackdress.jpeg">
	 	<img class="rotatingimage" src="images/dress.jpeg">
	 	<img class="rotatingimage" src="images/golddress.jpeg">
	 	<img class="rotatingimage" src="images/flowerdress.jpeg">
	</div>
	<div id="blackbox1">
	</div>
	<script type="text/javascript" src="public/script.js"></script>
</body>
	
</html>