
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=3.0.1"></script>
	<title><%= @title %></title>
</head>
<body> 
	<div id = socialmedia>
		<ul>
			<li><a href="https://www.facebook.com/venus.tyan.1"> <img src="images/facebook.png" alt="facebooklogo"></a></li>
			<li><a href="https://twitter.com/venustyan"> <img src="images/twitter.png" alt="twitterlogo"></a></li>
			<li><a href="https://instagram.com/venustyan1/"> <img src="images/instagram.png" alt="intagramlogo"></a></li>
			<li><a href="https://www.pinterest.com/venustyan1//"> <img src="images/pinterest.png" alt="pinterestlogo"></a></li>
			<li><a href="http://venustyan.tumblr.com/"> <img src="images/tumblr.png" alt="tumblrlogo"></a></li>
		</ul>
	</div>
<%= yield %> 
</body>

</html>
